[2016-05-03 09:50] alexisvincent opened #1 "Consensus"

[2016-10-12 09:46] #1 closed

[2016-10-13 20:40] peteruithoven opened #2 "Javascript Plugin Reload Hooks"
As I can't comment on he readme I'm using this issue.

Great write up of Javascript Plugin Reload Hook solutions.

I wrote the original __reload hook (https://github.com/capaj/systemjs-hot-reloader/pull/23) but I agree that this complicates things, as it runs after the regular initiation is run, you'll need hooks to adapt what's already initiated (like Redux's replaceReducer).

You might find the

[2016-10-13 21:44] alexisvincent commented on #2
@peteruithoven Thanks for taking the time to comment! Also, thanks for the link, I had no idea people had been discussing this.
After reading through everything, I really your @hotstate idea!
In the simplest case I think each module should have access to a persistent private object, people can use, or not. Something like:

[code]

But even if module (or some other name) is just an empty object, th

[2016-10-13 22:30] peteruithoven commented on #2
As in, the previous module would be `this`?

How would someone access his old state from `module`?

I would personally keep the content of that persistent private object up to the developer. I would certainly not automatically store a reference to the whole module, since that might encourage exporting the state, just for hot reloading, which I feel is bad practice.

Being able to retrieve extra in

[2016-10-13 22:55] alexisvincent commented on #2
I'm not suggesting we store a reference to the whole module. Only that it is a private store available for write. Perhaps module would be a bad name, since it leads to this confusion.

This could work

The reason the unload hook might work better in the '@hot' module would be that then its not being exported to the whole world. With regards to getting previous state, this would amount to accessing

[2016-10-13 23:18] peteruithoven commented on #2
Like!
I like simply `@hot`, I get your `hot.unload` preference.

[2016-10-13 23:55] alexisvincent commented on #2
Awesome! Maybe we can get some comment from our sensei @guybedford

[2016-10-16 19:49] frederikschubert opened #3 "Handle circular dependencies"
Currently the order of reloading of a module's dependant modules is not defined by the order in which they were loaded.
This leads to errors when there is a circular dependency.
I suggest to take the order of loading into account when deleting and reloading the modules.

[2016-10-19 11:01] alexisvincent commented on #3
Thanks for the issue. I can't look at it just yet, I'm swamped with deadlines. But will check this out on the weekend.

[2016-10-24 23:34] alexisvincent commented on #3
Can you be more specific? It would be really helpful to see an example dependency tree.

[2016-10-24 23:35] alexisvincent commented on #2
ping @guybedford

[2016-10-25 11:47] guybedford commented on #2
Ok, I appreciate the argument that the `__hotReload` hook runs after execution, and so results in a double init. We should get access to the old module from the first step of execution.

Then the only way to get this would be if the old module itself was available through an import, or an import API. We can't have the old module available as an import though, because it is undefined when starting

[2016-10-25 14:13] alexisvincent commented on #2
@guybedford Thanks for taking taking the time to answer. I see your point about doubling the size of the module registry, and I agree, the import semantics we were speaking about do feel hacky.

I think the best option here would be to expose a `getPrevious` function from `'@hot'` which accepts a module name. While this isn't as clean as just importing the previous module, I think this better resp

[2016-10-28 06:14] frederikschubert commented on #3
I will try to come up with a minimal example and ping you here!

[2016-10-31 23:06] alexisvincent commented on #2
@peteruithoven thoughts?

[2016-11-01 07:37] peteruithoven commented on #2
Are there no hooks that allow checking something before checking the module registery? Just like there are hooks that allow transpilation or loading files from other places for example.

I don't really see the problem of "a generic state store", and what Redux-ish problems are (I'm a Redux user btw). Especially since it's so similar to how my [simple systemjs-hot-reloader-store utility](https://gi

[2016-11-02 21:18] alexisvincent commented on #3
Any progress on this?

[2016-11-02 21:26] frederikschubert commented on #3
I am currently occupied with my studies but will post an example on Friday.

[2016-11-02 21:27] alexisvincent commented on #3
Great :)

On Wed, 02 Nov 2016 at 23:26 Frederik Schubert notifications@github.com
wrote:

[2016-11-02 22:17] alexisvincent commented on #2
@peteruithoven I just checked the module loader spec and it turns out that the loader hook accepts as an argument the name of the importer module. Meaning that this whole thing can probably be implemented as a loader plugin. The only complication would be that the loader would need access to a global registry, but if there are no issues with loading order this should be pretty simple.

This allows

[2016-11-03 00:56] peteruithoven commented on #2
The loader plugin, how would it retrieve the module name? If it has the module name, why does it need the global registry?
If it could be a loader plugin then it could be a separate package altogether, making it less of a problem when it becomes the source of truth, since it's less connected to hot reloading.

[2016-11-03 07:23] alexisvincent commented on #2
Sorry, I meant to say the [normalize hook](https://github.com/ModuleLoader/es-module-loader/blob/v0.17.0/docs/loader-extensions.md#loader-hooks).

So the code I'm suggesting would look **very roughly** as follows

[code]

[2016-11-04 05:42] jjrv opened #5 "Module was not found in Systemjs moduleRecords"
capaj/systemjs-hot-reloader sometimes sends change events for files that weren't (yet) loaded as part of the application. Then [this line](https://github.com/alexisvincent/systemjs-hmr/blob/1ab2f45f55e1ad16785fccc3f1ba4fa3a2fb1905/lib/index.js#L32) throws an error. I added `.catch((err: any) => false)` on [this line](https://github.com/alexisvincent/systemjs-hmr/blob/1ab2f45f55e1ad16785fccc3f1ba4f

[2016-11-04 14:51] frederikschubert commented on #3
It is really difficult to come up with a minimal reproducible example for this issue. This error appears "sometimes" in our angular 2 projects. I suspect that the error is connected to how the decorators are evaluated.
One possible fix would be to reimport the modules in the order in which they were loaded the first time. As far as I understood from the code, the order of the reimports is decided

[2016-11-04 15:53] alexisvincent commented on #3
I need to have a good look at how this hot reloader works. I think this codebase can be greatly simplified. But I may be wrong. I'm in the process of refractoring and adding comments. So I'll be in a better place to look at this later this week. SystemJS handles circular deps according to the spec. And when I take a look at this I'm hoping it's as simple as recursively deleting modules upwards and

[2016-11-04 16:02] frederikschubert commented on #3
Yes that would have been my approach as well. Currently the modules are deleted and reimported manually by the plugin.

The manual reimport is needed to call the `reload` hook of the deleted modules. See [here](https://github.com/alexisvincent/systemjs-hmr/blob/master/lib/index.js#L73)

[2016-11-04 16:50] alexisvincent commented on #3
Oh I see. Checkout issue #2. Won't need that reload logic anymore

[2016-11-04 18:17] frederikschubert commented on #3
Great!

[2016-11-04 20:23] alexisvincent commented on #5
I'm in the process of refactoring this code base. Will take this into account when I get here :) Thanks for the issue

[2016-11-05 14:16] alexisvincent opened #6 "Use Trace.API in SystemJS 20 and SystemJS.defined in 19 (current)"
@guybedford

What can I rely on SystemJS.defined to provide?

[2016-11-06 01:22] alexisvincent commented on #2
Ok, so I've written and published a complete rewrite of SystemJS HMR (significantly simpler).
@guybedford Is what I'm doing [here](https://github.com/alexisvincent/systemjs-hmr/blob/master/lib/next.js#L48) 'safe'?

systemjs-hmr 'next' supports the following api(s)

[code]

Note that unload is not an API I expose, but rather a simple export.

You can also

[code]

Where state is a persistent object

[2016-11-06 01:27] alexisvincent commented on #3
See #2 I pushed a rewrite of the reloader, with new unload and state hydration mechanisms. Should fix your issue.

[2016-11-06 11:54] frederikschubert commented on #3
The rewrite looks good! I will give it a try as soon as I can and report my results here.

[2016-11-06 12:07] alexisvincent commented on #3
Awesome, if you haven't already read the rewrite, I've added extensive documentation (as in more documentation then code I think), in the next.js file. Should be very clear how it works, I want it to be super simple to contribute.

[2016-11-06 12:25] frederikschubert commented on #3
Yes I read through it. It is much easier to comprehend now! 👍

[2016-11-06 15:33] alexisvincent commented on #2
README has been updated to explain how this works.

[2016-11-06 15:34] alexisvincent commented on #3
Cool cool 👍. The README has been updated to explain how this works.

[2016-11-06 15:50] frederikschubert commented on #3
~~I get the same error as https://github.com/alexisvincent/systemjs-hmr/issues/5. Using the version that is in master.~~
Seems like I was still using the old version.

[2016-11-06 15:54] alexisvincent commented on #3
Oh, you need to import systemjs-hmr/dist/next.js

[2016-11-06 16:04] frederikschubert commented on #3
Alright. Now I get this error when the `System.normalize` hook is called during reload:

[code]

[2016-11-06 16:26] alexisvincent commented on #3
Hmm. How are you testing this?

[2016-11-06 16:27] frederikschubert commented on #3
I patched the `systemjs-hot-reloader` to use the new API. Basically I just removed the `catch` from [here](https://github.com/capaj/systemjs-hot-reloader/blob/master/hot-reloader.js#L40).
I also tried to do it via the console but I get the same error.

[2016-11-06 16:30] alexisvincent commented on #3
How far does it get in the reload process

[2016-11-06 16:33] frederikschubert commented on #3
The error occurs during the [normalization](https://github.com/alexisvincent/systemjs-hmr/blob/master/lib/next.js#L197). It seems that the prototype patching is not working correctly. The `this` in [this](https://github.com/systemjs/systemjs/blob/9ae69b905f93df449357310b0b53de8c3e919e17/dist/system.src.js#L1752) function has not the right prototype chain. So the call to `this.has` fails [here](htt

[2016-11-06 16:41] frederikschubert commented on #3
I cloned this repo and tried the test and get the same error. Which systemjs version are you using?
I am using `SystemJS v0.19.40`.

I inlined the `System.has` function and then the hot reload works. In the end `reloader.loadCache.clear();` throws an error because the `loadCache`is undefined.

[2016-11-06 17:03] frederikschubert commented on #3
I found a fix ~~and will make a PR~~. https://github.com/alexisvincent/systemjs-hmr/pull/7

[2016-11-06 17:37] alexisvincent commented on #3
Thanks! I also forgot, when using `_System` you need to `_System.normalize(System, "someModule")`

[2016-11-06 17:42] alexisvincent commented on #3
Do your circular reps work now.

[2016-11-06 18:17] frederikschubert commented on #3
Now I get this error when the modulename is normalized:

[code]

[2016-11-06 18:26] alexisvincent commented on #3
Sorry. Pushing a fix

[2016-11-06 18:28] alexisvincent commented on #3
Pushed and published to npm

[2016-11-06 18:32] frederikschubert commented on #3
Great! Now it works!

[2016-11-06 18:32] #3 closed

[2016-11-06 18:37] alexisvincent commented on #3
Awesome :) Thoughts on the new state hydration/ unload api?

[2016-11-06 18:43] frederikschubert commented on #3
I like it! I am not sure about the `@hot` module name but I can't come up with something better. :)

[2016-11-06 18:48] alexisvincent commented on #3
If you come up with a better name let me know :) Do you have an opinion on the exporting state vs private persistent object state hydration techniques?

[2016-11-06 18:55] frederikschubert commented on #3
I like the current API with the exported state. This gives the developer the freedom to implement the state re-hydration any way he/she likes.

[2016-11-06 18:58] alexisvincent commented on #3
Cool thanks for the input.

[2016-11-07 14:27] alexisvincent commented on #2
@guybedford, would really appreciate your input here

[2016-11-08 10:34] guybedford commented on #2
@alexisvincent the approach can certainly adapt to new changes in SystemJS, just note that every major may break the API you are relying on. I'm happy to assist with the upgrade paths as we hit them if you have any questions.

[2016-11-08 10:37] alexisvincent commented on #2
Great thanks!

[2016-11-09 12:40] jjrv commented on #5
It works now.

[2016-11-09 12:57] jjrv commented on #5
Oops spoke too soon. The same issue and some related ones are still in the `next` version...

[2016-11-10 12:32] jjrv opened #9 "Prevent reloading dependants"
I didn't find a mechanism to prevent reloading dependant modules all the way up to the root. It's usually a good idea if the code wasn't specifically designed for hot reloading, but I've got at least two cases where the reload shouldn't propagate further:

- CSS files. Stylesheet updates triggering reloads of the importing JavaScript code seems rarely necessary, but still needed in rare cases (cod

[2016-11-10 12:45] jjrv commented on #9
I'd be happy to work on a PR in the idea is accepted.

[2016-11-10 14:10] alexisvincent commented on #9
Sorry that I haven't responded promptly. Been working to meet a few deadlines. Will check this and your other PR out tomorrow. 👍 Glad to see you taking such an interest in the project :)

[2016-11-10 14:18] alexisvincent commented on #9
For a quick initial look, I can't think of a reason not to implement this. With regards to config.
ATM, the config mechanism for reloads is handled as a second arg to `System.reload(moduleName, meta)`. Where you can specify information regarding how to do the reload. Although it makes sense to also have a config object for the reloader. (Although for now, we can cover all use cases through the met

[2016-11-10 14:27] alexisvincent commented on #6
@guybedford ping

[2016-11-10 14:34] alexisvincent commented on #5
Thanks :)

[2016-11-10 14:34] #5 closed

[2016-11-10 14:43] alexisvincent opened #10 "Build Bundle"
I want to pass the source files through a rollup (with babel), so that I can get a nice single small bundle.

This will also allow easy usage of something like the babel runtime transform.

If anyone has some time and wants to contribute to this project. This is would appreciated.

[2016-11-10 22:23] alexisvincent opened #11 "Better Error Handling"
The current version is not particularly robust and fails when encountering bad or unexpected data. This should be resolved

[2016-11-10 22:24] alexisvincent opened #12 "Cached File Loading"
One should be able to precompile files and pass them to systemjs-hmr for a quicker reload cycle.

[2016-11-10 22:41] peteruithoven commented on #12
Isn't this already possible with systemjs config and made easy with jspm?
I for example precompile all my dependencies using: `jspm bundle 'src/index.js - [src/**/*]' -id`.
I could also precompile all my code and have it recompile on changes with: `jspm bundle 'src/js/index.js -wid`.
That last part is only possible with jspm's beta: 0.17.

Or would you like to cache them in the browser?
What kind

[2016-11-10 22:48] alexisvincent commented on #12
@peteruithoven What I'm talking about here is slightly different. I've changed the name to be more descriptive.

I want something like this

[code]

So that the hot-loader can precompile and send over the changed files. This will essentially only save the load time latencies that would be incurred by `System.import`

[2016-11-10 22:57] peteruithoven commented on #12
Ah alright.

In your example b.js would be an dependency of a.js? And this idea would spare you waiting for a.js to transpile before b.js could be loaded?

[2016-11-10 23:04] alexisvincent commented on #12
Yes pretty much. When we reload a.js, all the transitive parents are deleted, and then need to be reimported. The idea here is just to minimize the work the client needs to do (including the latency of fetching a file). Especially helpful if you have't specified a depcache.

I also want to be able to pass in other things to save time with the reload. At the moment, theres a lot of work that happen

[2016-11-11 12:14] jjrv commented on #12
I'm trying to maintain a clean and minimal TypeScript project setup that doesn't include Babel, Webpack or jspm (there's a [crude initial version](https://github.com/charto/charto-vue)).

Hopefully the precompilation could be a separate package to avoid bloating up `systemjs-hmr`. My current workflow is that when a `.ts` file is saved on Atom, it seems to only recompile changed parts straight to a

[2016-11-11 12:26] jjrv commented on #10
I'm currently using `systemjs-builder` through [`cbuild`](https://github.com/charto/cbuild) to bundle `systemjs-hot-reloader` (the version in your PR that's not merged yet). The script is [here](https://github.com/charto/charto-vue/blob/master/bundler/package.json) (`bundle-reloader`) and the resulting bundle is [here](https://github.com/charto/charto-vue/blob/master/reloader-bundle.js) with a cor

[2016-11-11 13:34] alexisvincent commented on #12
@jjrv Just to clarify, things discussed in this issue are completely optional mechanisms to give a speed boost to the reload process. Also, I'm not building in recompilation steps, just the ability for something else to precompile and pass that to systemjs-hmr.

As explained [here](https://github.com/alexisvincent/systemjs-hmr#goal)

So even with this addition, you would still need some external t

[2016-11-11 13:56] alexisvincent commented on #10
cbuild is really interesting. I've been wanting to build a very similar thing for a few weeks now. And I'd really like to speak to you about a bit of possible collaboration. I've sent you a PM on gitter.

With regards to using it here, I still want to babel/rollup, for the following reasons.
1. I'm not wanting to bundle a bunch of external deps. Just some simple code splitting in the project.
2. I

[2016-11-11 14:07] jjrv commented on #10
Yes, it's meant for app level and bundling the reloader was basically a free side effect. If there's a way to create a more minimalistic bundle and with fewer tools, that would be better. `systemjs-builder` is a bit bloated IMO (depends on Babel _and_ Traceur) but for bigger apps I can't think of an alternative that would play as nicely with SystemJS at run-time.

[2016-11-12 09:25] guybedford commented on #6
@alexisvincent it is what you see :) There's no spec anywhere, just https://github.com/systemjs/systemjs/blob/master/lib/register.js#L20.

[2016-11-12 09:37] alexisvincent commented on #6
@guybedford Thanks, my question was badly phrased.

In light of this issue [Trace API](https://github.com/capaj/systemjs-hot-reloader/issues/94), is it fine to use System.defined? As in this is the way you plan to move forward? :)

[2016-11-12 09:47] guybedford commented on #6
It's the way to work with it in this version of systemjs. In the next major
the trace api will be reliable again and defined won't be available.
On Sat, 12 Nov 2016 at 11:37, Alexis Vincent notifications@github.com
wrote:

[2016-11-12 10:26] alexisvincent commented on #6
Ok, thanks. Which version will it be deprecated in? 20?

[2016-11-12 10:33] guybedford commented on #6
Yeah, and then replaced with the trace API from https://github.com/ModuleLoader/es-module-loader#tracing-api.

[2016-11-12 10:34] alexisvincent commented on #6
Great thanks. Just to clarify. Will it be deprecated or removed in 20?

[2016-11-12 10:44] guybedford commented on #6
Removed.

[2016-11-26 19:37] alexisvincent commented on #10
I think actually that the best way to build this will be with `systemjs-builder` don't know why I didn't think of this before

[2016-11-30 19:45] mavericken commented on #10
I'm experimenting with using jspm bundle in conjunction with systemjs-hmr & systemjs-hot-reloader.  It feels like it shouldn't take much changes, but I haven't gotten it working yet.

[2016-11-30 19:46] alexisvincent commented on #10
Does it complain that it can't find `@hot`?

[2016-11-30 19:47] alexisvincent commented on #10
If so, add `'@hot': {'build': false}` to your `meta` in your config

[2016-11-30 21:41] mavericken commented on #10
Ah, I don't have a build config yet as I am still using the CLI, "jspm bundle".  I did "jspm bundle client/\*\*/\* - [systemjs-hmr]" and it worked (I'm still on systemjs-hmr@0.0.3).

The way I have it working now seems nice.  With everything besides systemjs-hmr in the bundle, initial load is fast, and the hot reload works on individual files so I can see changes immediately and keep my state.  St

[2016-11-30 22:13] peteruithoven commented on #10
@mavericken the beta version of `jspm` supports this, it has a --watch flag.
Before trying this be aware that it uses a slightly different config. Install it by `npm install jspm@beta`.
More info: jspm.io/0.17-beta-guide/

[2016-12-01 13:38] mavericken commented on #10
I am using the --watch flag.  Current problem is that as soon as the bundle.js changes, hot reload breaks completely.  It seems I can rather easily work around it by just filtering out bundle.js changes, but trying to figure out the actual problem.

Edit: I figured it out that bug, fix pull request available here: https://github.com/alexisvincent/systemjs-hmr/pull/13

[2016-12-14 00:04] srolel commented on #9
I would like this as well, for `css` files for example (want to hot reload the stylesheet only, not rerender the whole page from scratch etc.)

[2016-12-19 21:37] srolel commented on #9
An easy solution would be to make `findDependents` take into account `meta.roots`. Something like:

[code]

Where `roots` will be passed to it from `System.reload`. This way, a user of the library can define the points at which reloading stops.

[2016-12-22 11:30] alexisvincent commented on #9
@Mosho1 The only issue with that would be that the lib has to traverse the tree to determine children it needs to delete. But something like that would be nice and general... I wonder if it's worth being this general. Can you think of a reason we might want to stop somewhere other then just the node or its roots?

[2016-12-22 18:55] joeldenning opened #16 "Deleting old source maps"
I don't even know if this is possible, but one thing that would be awesome is if the source mapped files in dev tools were automatically updated with the new code. Right now what seems to happen is that the code is being hot reloaded correctly, but the source maps for the hot reloaded file still have the old code.

Is this something that others have run into? Is it even possible to get the browser

[2016-12-22 21:04] alexisvincent commented on #16
Interesting, I'll look into it

Kind regards
Alexis

[2016-12-22 21:14] alexisvincent commented on #16
Can you check if closing devtools and opening it again has the new updated source maps? I'm assuming chrome. Found an issue in chrome where they don't update.

https://bugs.chromium.org/p/chromium/issues/detail?id=438251#c21

[2016-12-22 21:23] internettrans commented on #16
Yes, I am using chrome and I just verified that closing and re-opening the dev tools causes the source maps to be reloaded which is great. Also, doing `alt + r` to reload the dev tools works great too.

Getting the sourcemaps to be hot reloaded without closing/reopening the dev tools seems like something only Chrome dev tools could fix. I'll upvote the issue on the chromium bug, but I don't see an

[2016-12-22 21:23] #16 closed

[2016-12-22 21:29] alexisvincent commented on #16
Thanks, yeah :) that's helpful thanks

[2016-12-23 00:00] alexisvincent opened #17 "Add debounce"
Add debounce to prevent multi file loads to thrash

[2016-12-25 09:32] srolel commented on #9
You can have all kinds of custom reloading scenarios, I don't see a reason to limit it to just the module itself or the roots.

Off the top of my head, say you have multiple data stores that aggregate to one big store (like redux stores) where you want the whole store to reload on change to any of its child nodes, but you might not want the whole app to render again. So any reloads to the child no

[2017-01-24 23:20] alexisvincent commented on #11
Done in latest release :)

[2017-01-24 23:20] #11 closed

[2017-02-15 08:32] alexisvincent opened #18 "Next Major (systemjs-hmr and systems-hot-reloader)"
`systemjs-hmr` doesn't yet support `SystemJS 0.20`. Since `JSPM 17` now uses `SystemJS 0.20` by default, HMR is broken for a lot of people. This, merged with the fact that we currently have two implementations of hot-reloading introduces some nuance into the upgrade process. This issue is tracking what needs to happen to land a shiny new release (hopefully within the next day or two).

### Current

[2017-02-15 08:50] alexisvincent commented on #18
Consolidates [systemjs-hot-reloader#126](https://github.com/capaj/systemjs-hot-reloader/issues/126), #6 [systemjs-hot-reloader#124](https://github.com/capaj/systemjs-hot-reloader/issues/124)

[2017-02-16 22:28] alexisvincent commented on #6
Supported in latest build, pending https://github.com/ModuleLoader/es-module-loader/issues/532

[2017-02-16 22:28] #6 closed

[2017-02-16 22:30] alexisvincent commented on #18
Now supports SystemJS 20, pending https://github.com/ModuleLoader/es-module-loader/issues/532

[2017-02-17 00:15] alexisvincent commented on #10
Bundling via rollup

[2017-02-17 00:15] #10 closed

[2017-02-17 00:42] alexisvincent commented on #18
Released as v2, systemjs-hot-reloader support awaiting update to SystemJS containing fix for ModuleLoader/es-module-loader#532.

[2017-02-17 00:54] alexisvincent commented on #18
Should also solve https://github.com/jspm/jspm-cli/issues/2243

[2017-02-20 23:03] alexisvincent commented on #18
All backwards compatibility updates have been completed. Should just be a case of brushing up on the api and then cutting a release.

[2017-02-25 20:55] alexisvincent commented on #18
Released as v1

[2017-02-27 04:00] icode opened #19 "TypeError: Object.values is not a function"
[code]

chrome  52.0.2743.116 (64-bit)

[2017-02-27 07:37] alexisvincent commented on #19
Thanks, assumed Babel would polyfill this. Will fix.

[2017-02-27 07:40] icode commented on #19
@alexisvincent I'm just use systemjs+plugin-babel (jspm) on browser, not run nodejs

[2017-02-27 10:49] alexisvincent commented on #19
Pushed a new version. Can you check if this solves your issue?

[2017-02-28 02:05] icode commented on #19
thanks fix

[2017-02-28 02:05] #19 closed

[2017-02-28 02:06] icode opened #20 "parentKey.indexOf is not a function"
[code]

[2017-02-28 02:07] icode opened #21 "TypeError: Cannot read property '__reload' of undefined"
[code]

[2017-02-28 14:52] callmetango commented on #20
Same here using `systemjs@0.20.9` and `systemjs-hmr@2.0.7`.

Quick workaround: Change lines 12420:12422 of `node_modules/systemjs-hmr/dist/systemjs-hmr.js` from
[code]
to
[code]
Sorry, could not investigate further.

[2017-02-28 17:23] alexisvincent commented on #20
Will push a fix this evening

[2017-02-28 17:23] #18 closed

[2017-02-28 18:03] #20 closed

[2017-02-28 18:04] alexisvincent commented on #21
Fixed in 2.0.8

[2017-02-28 18:04] #21 closed

[2017-02-28 18:05] alexisvincent commented on #20
Fixed in 2.0.8

[2017-02-28 18:05] alexisvincent commented on #20
@callmetango Thanks, used your fix. Don't understand why it fixes it, but hey :)

[2017-03-01 10:06] icode opened #22 "reload deps children"
[code]
[code]

button.jsx on change app.jsx should fire reload

[2017-03-01 10:08] alexisvincent commented on #22
@icode Which version of SystemJS?

[2017-03-02 01:23] icode commented on #22
[code]

[2017-03-02 06:03] alexisvincent commented on #22
You need at least v0.20.8 or v0.19.x, will add to docs.

Kind regards
Alexis

On Thu, Mar 2, 2017 at 3:23 AM +0200, "icode" <notifications@github.com> wrote:

System.version
"0.20.5 Dev"

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-02 06:50] icode commented on #22
update systemjs is ok

[2017-03-02 06:50] #22 closed

[2017-03-02 19:50] callmetango commented on #20
Me neither. :-) But anyway: Your welcome!

[2017-03-07 23:02] mavericken opened #24 "Display err.originalErr"
When I get errors in my module from system hmr, the stack trace doesn't have the right source mappings.  I fixed for myself by using `err.originalErr || err` instead of just `err`.  I am not sure what the value is in having the modified broken error, if there is any.  I think we should either send originalErr only or both to the console.

[2017-03-08 20:16] alexisvincent commented on #24
Where in the source do you mean?

[2017-03-09 19:34] mavericken commented on #24
I haven't tried it on the current version, but looks like here would be it:
https://github.com/alexisvincent/systemjs-hmr/blob/162c167cdbac083e007b5bb57cc4b5952c1832bb/lib/index.js#L339

[code]

[2017-03-09 19:35] mavericken commented on #24
[code]

[2017-03-21 15:06] peteruithoven opened #25 "The systemjs-hmr polyfill must be loading after SystemJS has loaded"
I've been a long time user of systemjs and the systemjs-hot-reloader and I'm having some problems updating to the latest version.
I keep getting the following error:
[code]
I'm having this issue in a very basic example. Even with the following html code I'm getting this error:
[code]

I'm opening the error in the systemjs-hmr project since that's where the error is coming from.
Versions I'm using:

[2017-03-21 15:36] peteruithoven commented on #25
systemjs-hmr [checks](https://github.com/alexisvincent/systemjs-hmr/blob/master/lib/index.js#L13) whether `System` and `systemjs` is already defined

When I add the same check index.html:
[code]
I get:
[code]

So something happens to System before `systemjs-hmr` checks it.

[2017-03-21 16:07] alexisvincent commented on #25
Looking at the check, I think I spotted a bug, it should be `!SystemJS` not `!!SystemJS`. Don't know how that got through...

Are you able to check if this solves your issue?

[2017-03-21 16:40] peteruithoven commented on #25
Ah... Yeah, looks like it. I changed it in the `dist/systemjs-hmr.js`, then the warning goes away and hot-reloading still works. Thanks for the quick response.

[2017-03-21 17:09] alexisvincent commented on #25
Awesome! Will try submit a new version tonight.

[2017-03-25 16:33] #24 closed

[2017-03-25 16:33] #25 closed

[2017-03-25 16:45] peteruithoven commented on #25
Thanks!

[2017-03-25 16:59] alexisvincent commented on #25
Will publish once I fix your other issue. I have a suspicion it might actually be a SystemJS bug

[2017-06-08 10:48] kwesterfeld opened #26 "Every other hot reload fails with browser exception"
I am using systemjs-tools backend, which is nicely sending updates.  However, after the first reload event, my application only updates on every other change.  The browser always gets an exception like this when it doesn't work:

[code]

As you can see, the app/main.js is being triggered to reload, but it is containing my application's bundled dependencies for some reason on every other change.

I

[2017-06-21 02:49] nonsensecreativity commented on #25
Got same issue here

- jspm@0.17.0-beta.41
- SystemJS@0.20.14
- systemjs-hot-reloader@1.1.0
- systemjs-hmr@2.0.9

[2017-09-14 10:30] kwesterfeld commented on #26
@alexisvincent any updates on this one?

[2017-09-14 15:00] alexisvincent commented on #26
@kwesterfeld Not yet, sorry.

I picked up an extra major this year and my module count is at the university system maximum. Struggling to meet even those demands, and everything else is suffering at the moment. I finish the degree in just over 2 months, so I'm not going to look at anything until then.

But I'll be able to give this, and the rest of my OSS projects (`systemjs-hot-reloader`, `system

[2017-09-14 15:10] kwesterfeld commented on #26
Perfect...good luck and let me know if I can help out.  This particular
issue was a bit too much for me to dig into without dedicating more time
than I have, but some of the others were pretty easy.

On Thu, Sep 14, 2017 at 11:00 AM, λex Vincent <notifications@github.com>
wrote:

[2017-09-14 15:40] alexisvincent commented on #26
@kwesterfeld Thanks for all your help so far. It really is appreciated.

Yeah, it's quite fundamental to the project. Essentially `systemjs-hot-reloader` is unusable until this gets fixed. Im surprised not more people are complaining...

[2017-09-14 15:42] alexisvincent commented on #26
Hold on, this bug isn't what I thought it was.

[2017-09-14 16:05] alexisvincent commented on #26
Ok, I think I understand where the problem is. I'm guessing you have `"app/main.js - bundle/components.js"` set as an entry in your `systemjs-tools` config? systemjs-tools then passes that to `systemjs-hot-reloader` so that you don't have to redefine that behavior. So `"app/main.js - bundle/components.js"` is getting passed to `systemjs-hot-reloader` everytime a change happens. And then `SystemJS`

[2017-09-14 16:09] alexisvincent commented on #26
In the future I want to be able to submit arbitrary build flags to the systemjs-tools and have it perform the operation on the fly. Actually this would completely solve the issue...

If we have an option to generate arbitrary dependencies instead of just `dependencies.js`, then you can replace the entry in the config with a url to systems-tools and this whole thing will work automatically...

[2017-09-14 16:21] kwesterfeld commented on #26
Your suggestion does fix this hot reloader issue.  I think I put the bundle
arithmetic in there because the first build time without it is about 30s
for my app.   The app is a SPA that weighs in around 7MB uncompressed.
Subsequent forced page refresh after a change is about 6s, which I can live
with.   I think these numbers are about half if I put the arithmetic back
in.

Thanks....the flags to sy

[2017-09-14 16:25] alexisvincent commented on #26
@kwesterfeld Do you have the `systemjs-tools` cache enabled? Should make loading `6s` always, even after a restart of the process. Crazy large size though... I understand why theres a wait.

Got you for the vendor thing. Wanting to implement something like this automatically with analysis of module dependencies and monitoring which deps have quick release cycles.

[2017-09-14 16:33] alexisvincent commented on #26
Also planning on switching to static file serving that works for dev and production, which will mean you won't pay the cost of bundling more then you need to.

The preemptive bundling feature will also make your life nicer one I've added the required changes to the `builder` project.

See
- https://github.com/systemjs/builder/issues/762
- https://github.com/systemjs/builder/issues/759

[2017-09-16 00:32] kwesterfeld commented on #26
As a follow up, is there any way to rename the "dependencies.js" hardcoded
flie trigger with config?   I couldn't figure this out.   Basically I have
to create a "dev" systemjs mapping that maps to this .js bundle name.

On Thu, Sep 14, 2017 at 12:33 PM, λex Vincent <notifications@github.com>
wrote:

[2017-09-16 10:25] alexisvincent commented on #26
@kwesterfeld You can add an option that specifies the bundle trigger.

https://github.com/alexisvincent/systemjs-tools/blob/master/lib/handlers.js#L22

But what I want to do is actually be able to intercept arbitrary bundle arithmetic (like what is passed to systemjs-builder) and then just do that.

Note you can also provide your own handlers to systemjs-tools that does arbitrary logic. I provide

[2017-11-03 13:54] mohammed88 opened #27 "New release 2.0.10"
Hi,

Can you make a new release which fixes issue #25 ?

Thank you.

[2018-09-15 09:52] alexisvincent opened #28 "systemjs-hmr is searching for Maintainers!"
*This issue was created by [Maintainers Wanted](https://maintainerswanted.com)* :nerd_face:

*Support us by leaving a star on [Github](https://github.com/flxwu/maintainerswanted.com)!* :star2:

## systemjs-hmr is searching for new Maintainers! :man_technologist: :mailbox_with_mail:

Do you use systemjs-hmr personally or at work and would like this project to be further developed and improved?

Or

[2018-11-27 14:54] dazinator opened #29 "script errors on load?"
Having put these two scripts on a page:

     <script src="~/lib/systemjs/system.js"></script>
     <script src="~/lib/systemjs-hmr/dist/systemjs-hmr.js"></script>

The systemjs-hmr.js script errors on load with:

![image](https://user-images.githubusercontent.com/3176632/49088239-bb640580-f250-11e8-8de3-c89eebc5a0da.png)

![image](https://user-images.githubusercontent.com/3176632/49088191-a1c2be0

[2018-11-27 15:06] dazinator commented on #25
Raised #29 which I think might be a duplicate of this issue, however I was using systemjs 2.0 which in hindsight probably wont work, I'll try downgrading systemjs to 0.20.X

[2018-11-27 15:26] alexisvincent commented on #29
So the issue is that this library hasn't been updated to function with SystemJS >2.0.0. Largely because I'm primarily writing clojure(script) now and haven't had time to focus on this library.

So you're not doing anything stupid.

I strongly expect with some structural work this could be updated to work, especially since v2 seems to have more exposed that would make HMR even easier. However, I do

[2018-11-27 15:27] alexisvincent commented on #27
Checkout #29

[2018-11-27 20:31] dazinator commented on #29
Ok, I am just trying to get to grips with the basics at present, in fact I am getting a very basic sample up and running. Not using any transpilation, just loading an AMD module into the browser, and then in the console I am calling System.reload('moduleId');

I have been testing with system 0.21 and I'll send a PR to make that work, as currently it doesn't (system 0.19 and 0.20 do work). I am tes

[2018-11-27 20:52] dazinator opened #30 "SystemJS 0.21.X"
Add support for systemjs 0.21.X
Will send a PR.

[2018-11-27 20:53] alexisvincent commented on #30
Hell yeah!!!!!

[2018-11-27 21:42] dazinator opened #32 "__unload function and AMD"
I have an AMD module, however when I reload it, systemjs-hmr doesn't see the "__unload" function and so it never fires.

Here is my AMD module, perhaps I am not exporting it correctly?

[code]

Debugging a `reload` the issue occurs here:

[code]

Basically, `module` at this point doesnt have any `unload()` function - it looks like this in the console:

[code]

However what does work is:

`module.d

[2018-11-27 21:54] dazinator commented on #30
Think I can close this now (thanks for merging), stuff seems to work with the exception of #32 which may well be my lack of understanding with systemjs / amd and exporting the unload function.

[2018-11-27 21:54] #30 closed

[2018-11-27 22:16] dazinator commented on #32
AHA so it does work with an older systemjs version:
https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.47/system.js

So this must have been broken by a system.js release somewhere between 0.19.47 and 0.20.19.
When getting a module from the registry, all of sudden the module now has this "default" property and the exported functions are on there.
I'll try and do the tedious work to figure out whi

[2018-11-27 22:20] alexisvincent commented on #32
🎉 I’m super chuffed that this stuff is getting looked at! I’ve felt pretty guilty about not being able to give this project/ecosystem the attention it deserves

[2018-11-27 22:44] #32 closed

[2018-11-27 22:46] dazinator commented on #29
Im going to close this, Ill open a new issue to track support for systemjs 2.0 but I won't be working on that I suspect for a while, as I am happy for the time being on 0.21 ;-)

[2018-11-27 22:46] #29 closed

[2018-11-27 22:48] dazinator opened #34 "Support SystemJS >= 2.0.0"
As per #29 add support for using SystemJS version 2.0.0 and above!

[2018-11-27 22:50] dazinator commented on #32
@alexisvincent Don't worry, I kind of know that feeling :-)
Thanks for being responsive and helping out with questions though it's much appreciated.

[2018-11-28 20:04] dazinator opened #35 "Rollup and import { module } from '@hot'"
I am not sure if anyone has experience with rollup here, but I am hitting an issue.
Given a file with this import:

[code]

At runtime, you can configure system.js to map that to `@empty` and that works.

However if you try to bundle this file using rollup, it complains that it can't resolve `@hot`.
I can't figure out a way to configure rollup to handle this import at build time.. Any ideas?

[2018-11-28 20:13] dazinator commented on #35
Ah I figured it out.. I just needed to configure `@hot` as an external module in rollup config,

[2018-11-28 20:13] #35 closed

[2018-12-01 21:49] dazinator opened #36 "Question with @hot"
I was wondering, given that @hot is mapped to `@empty` - how / where does this get set to an actual instance of the old module when the module is reloaded? Is this something that systemjs-hmr does?

[2018-12-01 22:37] alexisvincent commented on #36
@hot is only mapped to empty in production mode, along with the rest of systemjs-home. During normal reloads the logic is handled in the resolveHotModule function used on line 325

[2018-12-01 22:38] alexisvincent commented on #36
https://github.com/alexisvincent/systemjs-hmr/blob/master/lib/util.ts#L329

[2018-12-03 21:18] dazinator commented on #36
Thanks :-)

[2018-12-03 21:18] #36 closed

[2018-12-03 23:06] dazinator commented on #9
Hi. I'm using `madge` on the server side to compute the dependants for a module, and I am able to send that information to the browser, so for my case it would actually be good to tell systemjs-hmr explicitly which module id's need to be reloaded, so that it doesn't waste time calculating this itself. Can I do this with the existing API?